.intro-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../../assets/img/login-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.intro-page--content{
    margin: auto;
    display: flex;
    align-items: center;
}

.logo-wrapper{
    margin-right: 215px;
}